
html, body {
	height:100%;
  color: #074f57;
}

input {
	font-family: inherit;
	line-height:inherit;
	color:#2e3750;
	min-width:12em;
}

::placeholder {
	color:#231123;
}

html::after {
	content:'';
	background: linear-gradient(21deg, #10abff, #1beabd);
	height:3px;
	width:100%;
	position:absolute;
	left:0;
	top:0;
}



.title {
    font-family: 'Open Sans Condensed', cursive;
    font-size: 30px;
    text-align: center;
  }
  .search-form {
      padding-top: 10px;
    align-self: center;
  }
  h5{
    font-family: 'Roboto';
    font-size: 30px;
    text-align: center;
  }
